ErrorDocument 404 /dab502/assignment/snowsnail/httpserrors/404.php
ErrorDocument 403 /dab502/assignment/snowsnail/httpserrors/403.php
ErrorDocument 500 /dab502/assignment/snowsnail/httpserrors/500.php